* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}
header {
  display: grid;
  grid-template-columns: 1fr 3.5fr 1.5fr;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
  background-color: #141414;
}
#nav-title {
  margin-right: auto;
  font-size: 1.5em;
}
header li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
}
header a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}
header a:hover {
  color: #b2dfdb;
}
#lItem {
  margin-right: 43%;
}
.material-symbols-outlined {
  color: white;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-symbols-outlined {
  color: white;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-symbols-outlined {
  color: white;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-symbols-outlined {
  color: white;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  grid-template-rows: repeat(90, 25px);
  padding: 20px 50px;
  padding-top: 2px;
  background-color: #141414;
  height: auto;
  gap: 2px;
}
.box {
  background-color: #252323;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  height: 120px;
  justify-self: center;
  grid-row: span 6;
}
h2 {
  color: white;
  padding-left: 20px;
}
.Trending {
  grid-area: 1 / 1 / 2 / 7;
}
.Watch {
  grid-area: 8 / 1 / 9 / 7;
}
.Poupler {
  grid-area: 15 / 1 / 16 / 7;
}
.Action {
  grid-area: 28 / 1 / 29 / 7;
}
.Drama {
  grid-area: 41 / 1 / 42 / 7;
}
.Fantasy {
  grid-area: 48 / 1 / 49 / 7;
}
.Horror {
  grid-area: 55 / 1 / 56 / 7;
}
.Mystery {
  grid-area: 62 / 1 / 63 / 7;
}
.Romance {
  grid-area: 75 / 1 / 76 / 7;
}
.SRNA {
  justify-self: end;
}
.footer {
  background: #141414;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}
.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}
.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}
.footer .row a:hover {
  color: #fff;
}
.footer .row ul {
  width: 100%;
}
.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}
.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}
